{% extends "app/layout.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated%}
<link rel="stylesheet" href="{% static '/app/content/style4.css' %}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    

    

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">

            </div>
              <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% url 'textLoad' %}" class="download">Добавить текст</a>
                </li>

            </ul>
                          <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% url 'generation' %}" class="download">Сгенерировать тест</a>
                </li>

            </ul>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#autoPostMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-book"></i>
                        Тексты
                    </a>
                    <ul class="collapse list-unstyled" id="autoPostMenu">
                                 {% for key, value in texts.items %}
                        <li>
                            <a class='textLink' id="{{key}}" href="{% url 'textShow' key %}">{{value}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                   <li>
                    <a href="#burseMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-check-circle"></i>
                        Тесты
                    </a>
                    <ul class="collapse list-unstyled" id="burseMenu">
                                 {% for key, value in tests.items %}
                        <li>
                            <a class='testLink' id="{{key}}" href="{% url 'testShow' key %}">{{value}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>


        </nav>

        <!-- Page Content  -->
        <div  id="content">
         <h2 id='myheader' align='center'> Сгенерировать тест </h2>
    <div id='txtinput' >
    <form action="" method="post">
    {% csrf_token %}
    <div> Выберите текст:
     
       {{form.text}}</div>
    <br>
  <div> Укажите желаемое количество заданий на каждую тему:</div>
 
<div class="" style="width:30%">
   
    <div class="row" style="margin-top:1vh"> 
    <div class="col-md-8">
{{form.prepositions.label_tag}} 
    </div>
     <div class="col-md-4">
    {{ form.prepositions }}
    </div>
     </div>
         <div class="row" style="margin-top:1vh"> 
    <div class="col-md-8">
{{form.tenses.label_tag}}
    </div>
     <div class="col-md-4">
   {{ form.tenses }}
    </div>
     </div>

    </div>
    <br>
    <input type="submit" class="btn btn-default"  value="Скорее сгенерируй мне мой тест!">
</form>
</div>
<br>


<form action="{% url "testSave" %}"  method="post">
  {% csrf_token %}



<input type="hidden" name='txt' value={{txtid}}>


  {%for key,value in output.items%} 
  <textarea class='textinput' name='sentence{{value.num}}'  >{{value.sent}}</textarea>
  <input type="hidden" name='theme{{value.num}}' value={{value.theme}}>
 <br>


  {%for v in value.options%} 

{%if v.1%}
 <input type="checkbox" name='check{{value.num}}{{v.2}}' value={{v.2}} checked > 

 <input class='answer' name='answer{{value.num}}{{v.2}}' type='text' value={{v.0}} ><br>

 {%else%} 
  <input type="checkbox" name='check{{value.num}}{{v.2}}' value={{v.2}}> 

 <input class='answer' name='answer{{value.num}}{{v.2}}' type='text' value={{v.0}}  ><br>
 {%endif%}
  {%endfor%}
  <hr>
{%endfor%}
{%if  output is not None%}
  <input type="submit" class="btn btn-default"  value="Сохранить">  
   {%endif%}     
</form>

        </div>
    </div>


    
    <script type="text/javascript">
        $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active'); });
        });

   


/*
$( ".textLink" ).click(function() {
  var id = $(this).attr('id');
$.get("getText/"+id, function(data, status){
  
    alert("Data: " + data.name + "\nStatus: " + data.text);
  });
});*/
    </script>




    
{% else%}
<div class="alert alert-primary mt-5 text-center" role="alert">
<h1>Пожалуйста, <a href="{% url 'register' %}">зарегистрируйтесь</a> или <a href="{% url 'login' %}">войдите в аккаунт</a> для продолжения.</h1>
</div>

{% endif%}
{% endblock %}