{% extends "app/layout.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated%}
<link rel="stylesheet" href="{% static '/app/content/style4.css' %}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    

    

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
 
            </div>
                          <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% url 'textLoad' %}" class="download">Добавить текст</a>
                </li>

            </ul>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#autoPostMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-book"></i>
                        Тексты
                    </a>
                    <ul class="collapse list-unstyled" id="autoPostMenu">
                                 {% for key, value in texts.items %}
                        <li>
                            <a class='textLink' id="{{key}}" href="{% url 'textShow' key %}">{{value}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                   <li>
                    <a href="#burseMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-check-circle"></i>
                        Тесты
                    </a>
                    <ul class="collapse list-unstyled" id="burseMenu">
                                 {% for key, value in tests.items %}
                        <li>
                            <a class='testLink' id="{{key}}" href="{% url 'testShow' key %}">{{value}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>


        </nav>

        <!-- Page Content  -->
        <div  id="content">
        <h3 id='testname' align=center>{{name}}</h3>
                                  {% for key, value in tasks.items %}

                         <div id='{{key}}' > {{value.question}} 
                         <br>
                         {{value.sentence}}
                         <br>  </div>
                         {% for key, value in value.options.items %}
                         {% if value.corr %}
                                                          <b id='{{key}}' > {{value.question}} 
              
                       -   {{value.answer}} </b>
                       {% else %}
                                                     <div id='{{key}}' > {{value.question}} 
              
                       -   {{value.answer}} </div>
                         {% endif%}
                                 
    
                           {% endfor %} 
                         <hr>
  

                        {% endfor %}  


        </div>
    </div>


    
    <script type="text/javascript">
        $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active'); });
        });

   


/*
$( ".textLink" ).click(function() {
  var id = $(this).attr('id');
$.get("getText/"+id, function(data, status){
  
    alert("Data: " + data.name + "\nStatus: " + data.text);
  });
});*/
    </script>




    
{% else%}
<div class="alert alert-primary mt-5 text-center" role="alert">
<h1>Пожалуйста, <a href="{% url 'register' %}">зарегистрируйтесь</a> или <a href="{% url 'login' %}">войдите в аккаунт</a> для продолжения.</h1>
</div>

{% endif%}
{% endblock %}